<div class="container">
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Name</th>
                    <th scope="col">PaySlip</th>
                  </tr>
                </thead>
                <tbody>
                  {% for emps in emps %}
                  <tr>
                    <td>{{ emps.role.name }}</td>
                    <td><span>{{ emps.first_name }}</span> <span>{{ emps.last_name}}</span></td>
                    <td> <a class="btn btn-primary btn-sm" href="{% url 'pay_slip' emps.id %}">View PaySilp</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    </div>
    